### Required Libs and Modules

In [1]:
import pandas as pd

### Reading the csv files and Combining

In [23]:
baner = pd.read_csv('data_source/Swiggy_Data_baner.csv')
hinjewadi = pd.read_csv('data_source/Swiggy_Data_hinjewadi.csv')
hinjewadi_phase3 = pd.read_csv('data_source/Swiggy_Data_hinjewadi_phase3.csv')
pcmc = pd.read_csv('data_source/Swiggy_Data_pcmc.csv')
wakad = pd.read_csv('data_source/Swiggy_Data_wakad.csv')

In [24]:
baner['locality'] = 'Baner'
hinjewadi['locality'] = 'Hinjewadi'
hinjewadi_phase3['locality'] = 'Hinjewadi_phase3'
pcmc['locality'] = 'Pcmc'
wakad['locality'] = 'Wakad'

In [25]:
combine = pd.concat([baner,hinjewadi,hinjewadi_phase3,pcmc,wakad])
combine.reset_index(inplace = True, drop = True)

In [26]:
combine=combine.rename(columns = {'details':'url',
                                'title':'name',
                               'spec':'cuisine',
                                'ratt':'details'})

### Adding new columns by spliting previous

In [27]:
combine['ratings'] =  combine.details.str.split('•').str[0]
combine['time'] =  combine.details.str.split('•').str[1]
combine['price_for2'] =  combine.details.str.split('•').str[2]

### Dropping unrequired columns

In [28]:
combine = combine.drop(['url', 'details'], axis = 1)

### Filtering and sorting values

In [29]:
combine.ratings=combine.ratings.str.replace('[--]','0')
combine.price_for2=combine.price_for2.str.replace('[₹,FOR,TWO, , ]','')

In [30]:
combine["ratings"]=combine["ratings"].apply(float)
combine["price_for2"]=combine["price_for2"].apply(float)

In [31]:
combine['name'] = combine['name'].str.title()

In [32]:
combine

,name,cuisine,locality,ratings,time,price_for2
0,Lkd | La Kheer Deli,Desserts,Baner,4.5,-- MINS,200.0
1,Desi Handi,"North Indian, Chinese, Biryani, Snacks, Tandoo...",Baner,3.3,-- MINS,250.0
2,The Quick Wok,"Chinese, Thai",Baner,4.0,-- MINS,300.0
3,Flavours Of Andhra,Biryani,Baner,3.5,-- MINS,600.0
4,Godavari Ruchulu,"North Indian, Chinese, Beverages, Indian, Biryani",Baner,3.8,-- MINS,600.0
...,...,...,...,...,...,...
1458,Royal Aromas Biryani,"Biryani, Indian",Wakad,0.0,-- MINS,200.0
1459,Paan Aroma,Paan,Wakad,0.0,-- MINS,100.0
1460,The Chinese Delight By Tiffina,"Asian, Chinese",Wakad,0.0,-- MINS,400.0
1461,Masterchef,"Indian, Biryani, Beverages, Desserts",Wakad,0.0,-- MINS,250.0
1462,Aab O Daana,Mughlai,Wakad,0.0,-- MINS,400.0

In [14]:
combine.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1463 entries, 0 to 1462
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        1463 non-null   object
 1   cuisine     1463 non-null   object
 2   locality    1463 non-null   object
 3   ratings     1463 non-null   float64
 4   time        1463 non-null   object
 5   price_for2  1463 non-null   float64
dtypes: float64(2), object(4)
memory usage: 68.7+ KB

In [22]:
combine.describe(include = 'all')

                 name cuisine locality      ratings     time   price_for2
count            1463    1463     1463  1463.000000     1463  1463.000000
unique           1238     643        5          NaN        1          NaN
top     Khadda Kombdi  Indian    Baner          NaN  -- MINS          NaN
freq                6     109      473          NaN     1463          NaN
mean              NaN     NaN      NaN     1.743267      NaN   302.660971
std               NaN     NaN      NaN     2.008060      NaN   156.800949
min               NaN     NaN      NaN     0.000000      NaN    80.000000
25%               NaN     NaN      NaN     0.000000      NaN   200.000000
50%               NaN     NaN      NaN     0.000000      NaN   300.000000
75%               NaN     NaN      NaN     4.000000      NaN   350.000000
max               NaN     NaN      NaN     4.900000      NaN  1600.000000